.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}

.kuc-mobile-button-1-17-0__button {
  font-family: sans-serif;
  margin-left: 12px;
}

.ai-button-space {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ai-button-space .kuc-mobile-button-1-17-0__button,
.ai-button-space.kuc-mobile-button-1-17-0__button {
  margin-left: 0;
}
