.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

.js-role {
  width: 20em;
}

.kintoneplugin-row label {
  display: block;
  margin-bottom: 0.5em;
}

.kintoneplugin-row input[type="range"] {
  width: 20%;
}

.kintoneplugin-row span {
  display: inline-block;
  width: 4em;
  text-align: center;
}